@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: "Merriweather", "Georgia", serif;
}

main {
  @apply container mx-auto w-full;
}

.react-toggle-track-x {
  width: 14px !important;
  height: 14px !important;
}

.react-toggle--checked,
.react-toggle-track {
  background: #222222 !important;
  border-radius: 4rem;
}

.react-toggle-track-check > span {
  margin-top: -2px !important;
}
